
*{
    margin:0;
    padding: 0;
}

:root{
    --color-primary:#0099ff;
    --color-secondary:#006bb3;
    --color-white:#fff;
    --color-black:#000;
}

body{
    font-family: 'Press Start 2P',
    cursive;
    color:var(--color-white);
}

.board-wrapper{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.board{
    display: flex;
    justify-content: center;
    max-width: 650px;
    flex-wrap: wrap;

}

.tile{
    padding: 4rem;
    border:2px solid var(--color-secondary);
    background-color: var(--color-primary);
    background-position: center;
    background-size: cover;
    font-size: 1.5rem;
}

.clicked{
    background-color: green;
    
}

